# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4756ad4708285fdc7442b7c534c5c87c39e3ebd2dd4254aba560dbaa0f9237f56eea743fc053ec444cc424b7fcd373f8b05509ec99bc3d818360a54e822e73be

test:
  secret_key_base: 7925d82ed28e3d67dc939d08664ccabf030135f3c32b4f8cbb49638493646ed4046c7129ef7b2530a9a27eefbe45fb565f463b25434abb73ba3b70d6defc9513

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
